@import '../../vendor/_varibles.scss';

.table {
    background-color: $background-white;
    max-width: 1407px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    &__theads {
        width: 100%;
        display: grid;
        border-bottom: 1px solid $border-table-color;
        grid-template-columns: 
            minmax(150px, 313px) 
            minmax(125px, 250px) 
            minmax(95px, 190px) 
            minmax(85px, 170px) 
            minmax(241px, 482px);
    }

    &__thead {
        text-align: start;
        border-right: 1px solid $border-table-color;
        padding: 18px 23px 16px;
        box-sizing: border-box;
        @include text(
        $font-family-table-title,
        $font-table-title-14,
        $weight-400,
        $line-height-table-title,
        $color-table-text
        );

        &:last-child {
            border-right: none;
        }
    }

    &__row {
        width: 100%;
        display: grid;
        grid-template-columns: 
            minmax(150px, 313px) 
            minmax(125px, 250px) 
            minmax(95px, 190px) 
            minmax(85px, 170px) 
            minmax(241px, 482px);
        border-bottom: 1px solid $border-table-color;

        &:last-child{
            border-bottom: none;
        }

        &:hover {
            background-color: $background-table-row-hover;
        }
    }

    &__cell {
        padding: 14px 23px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include text(
            $font-family-table-text,
            $font-table-text-12,
            $weight-400,
            $line-height-table-text,
            $color-table-text
        );
    }
}